
    <h1>Giới Thiệu</h1>
    <div class="chu">
        <p>Rolex với tên gọi chính xác là Rolex SA là một hãng sản xuất đồng hồ Thụy Sỹ với phân khúc từ cao cấp đến
            xa xỉ và sang trọng. Rolex SA bao gồm hai thương hiệu là Rolex và Montres Tudor SA chuyên thiết kế, sản
            xuất, phân phối đồng hồ đeo tay dưới thương hiệu Rolex và Tudor. Hãng sản xuất Rolex được thành lập bởi
            Hans Wilsdorf và Alfred Davis tại London nước Anh vào năm 1905, sau đó đến năm 1919, Rolex đã chuyển
            toàn bộ hoạt động, cũng như cơ sở sản xuất đồng hồ sang Geneva Thụy Sỹ.</p>
    </div>
    <div class="anh">
        <img src="../../../assets/IMG/rolex2.webp" alt="anh" width="1150px">
    </div>
    <div class="thoigian">
        <h4>Giờ mở cửa</h4>
        <ul>
            <li>Từ 8:00 đến 16:00</li>
            <li>Từ thứ 2 đến thứ 7 trong tuần</li>
        </ul>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.999245838975!2d105.82897591569544!3d21.03271617808272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab979683dfb3%3A0x9751156af0e3e97d!2zxJDhu5NuZyBo4buTIFJvbGV4IGNow61uaCBow6NuZyAtIEx1eHVyeSBWaXA!5e0!3m2!1svi!2s!4v1678007889888!5m2!1svi!2s"
            width="1150" height="500px
            " style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
