
    <div class="banner">
        <img src="../../../assets/IMG/slider2.jpg" alt="anh" width="1150px">
    </div>
    <h3>ĐỒNG HỒ NAM</h3>
    <div class="nam">
        <div class="donghonam">
            <img src="../../../assets/IMG/dongho1.1.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>
        <div class="donghonam">
            <img src="../../../assets/IMG/dongho1.2.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>

        <div class="donghonam">
            <img src="../../../assets/IMG/dongho1.4.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>

        <div class="donghonam">
            <img src="../../../assets/IMG/dongho1.3.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>
        <div class="bannerphu">
            <img src="../../../assets/IMG/donghomens.jpg" alt="anh" width="250px" height="360px">
        </div>
    </div>
    <h3>ĐỒNG HỒ NỮ</h3>
    <div class="nam">
        <div class="donghonam">
            <img src="../../../assets/IMG/dongho2.1.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>
        <div class="donghonam">
            <img src="../../../assets/IMG/dongho2.2.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>

        <div class="donghonam">
            <img src="../../../assets/IMG/dongho3.4.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>

        <div class="donghonam">
            <img src="../../../assets/IMG/dongho3.3.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>
        <div class="bannerphu">
            <img src="../../../assets/IMG/banner1.jpg" alt="anh" width="250px">
        </div>
    </div>
    <div class="ngang">
        <img src="../../../assets/IMG/omned.jpg" alt="anh" width="1150px">
    </div>
    <h3>BEST SELLERS</h3>
    <div class="nam">
        <div class="donghonam">
            <img src="../../../assets/IMG/dongho4.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>
        <div class="donghonam">
            <img src="../../../assets/IMG/best1.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>

        <div class="donghonam">
            <img src="../../../assets/IMG/best2.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>

        <div class="donghonam">
            <img src="../../../assets/IMG/best3.jpg" alt="anh" width="210px">
            <p>Aliquam erat volupat</p>
            <p class="giatien">$155.00</p>
            <button><a routerLink="productDetail/1">ADD TO CART</a></button>
        </div>
        <div class="bannerphu">
            <img src="../../../assets/IMG/muc3.webp" alt="anh" width="250px">
        </div>
    </div>
