    <h3>Đồng hồ cổ điển</h3>
    <div class="codien">
        <div class="rolex">
            <img src="../../../assets/IMG/codien1.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">DAY-DATE</a></h4>
            <p>Thực hiện hóa lý tưởng</p>
        </div>
        <div class="rolex">
            <img src="../../../assets/IMG/codien2.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">DATEJUST</a></h4>
            <p>Đồng hồ theo phong cách cổ điển</p>
        </div>
        <div class="rolex">
            <img src="../../../assets/IMG/codien3.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">OYSTER PERPETUAL</a></h4>
            <p>Khí chất Oyster</p>
        </div>
        <div class="rolex">
            <img src="../../../assets/IMG/codien4.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">LADY-DATEJUST</a></h4>
            <p>Thanh lịch duyên dáng</p>
        </div>
    </div>
    <h3>Đồng hồ chuyên dụng</h3>
    <div class="codien">
        <div class="rolex">
            <img src="../../../assets/IMG/chuyendung1.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">SEA-DWELLER</a></h4>
            <p>Chiếc đồng hồ chinh phục độ sâu</p>
        </div>
        <div class="rolex">
            <img src="../../../assets/IMG/chuyendung2.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">AIR-KING</a></h4>
            <p>Tôn kính với ngành hàng không</p>
        </div>
        <div class="rolex">
            <img src="../../../assets/IMG/chuyendung3.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">GMT-MASTER II</a></h4>
            <p>Mẫu đồng hồ cosmopolitan</p>
        </div>
        <div class="rolex">
            <img src="../../../assets/IMG/chuyendung4.webp" alt="anh" width="280px">
            <h4><a routerLink="/productDetail/1">YACHT-MASTER</a></h4>
            <p>Chiếc đồng hồ của biển cả bao la</p>
        </div>
    </div>
    <h3>Tìm đồng hồ</h3>
    <div class="timdongho">
        <div class="rolex1">
            <img src="../../../assets/IMG/muc1.webp" alt="anh" width="370px">
            <h3>Đồng Hồ Nam</h3>
        </div>
        <div class="rolex1">
            <img src="../../../assets/IMG/muc2.webp" alt="anh" width="370px">
            <h3>ĐỒNG HỒ NỮ</h3>
        </div>
        <div class="rolex1">
            <img src="../../../assets/IMG/muc3.webp" alt="anh" width="370px">
            <h3>ĐỒNG HỒ THÉP</h3>
        </div>
    </div>
    <div class="timdongho">
        <div class="rolex1">
            <img src="../../../assets/IMG/muc4.webp" alt="anh" width="370px">
            <h3>ĐỒNG HỒ VÀNG</h3>
        </div>
        <div class="rolex1">
            <img src="../../../assets/IMG/muc5.jpg" alt="anh" width="370px">
            <h3>ĐỒNG HỒ VÀNG</h3>
        </div>
        <div class="rolex1">
            <img src="../../../assets/IMG/muc6.webp" alt="anh" width="370px">
            <h3>ĐỒNG HỒ NẠM ĐÁ QUÝ</h3>
        </div>
    </div>
