<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <header>
        <div class="header">
            <a routerLink="">Home</a>
            <a routerLink="contact">Liên Hệ</a>
            <a routerLink="category">Danh Sách Sản Phẩm</a>
            <a routerLink="login">Đăng Nhập</a>
            <input type="text" placeholder="Search">
            <button type="submit">Search</button>
        </div>
    </header>
    <main>
      
      <router-outlet></router-outlet>
    </main>
<footer>
  <p class="L1">Tổng đài tư vấn và hỗ trợ khách hàng (miễn phí cuộc gọi)</p>
  <p class="sdt">18006319</p>
  <p class="L1">Với đội ngũ nhân viên hơn 9 năm kinh nghiệm, không chỉ thiết kế website, hỗ trợ, hướng dẫn và xử lý các vấn
      đề từ website, chúng tôi luôn đồng hành tư vấn và phát triển cùng doanh nghiệp của bạn</p>
  <div class="hotro">
      <div class="kythuat">
          <h4>Hỗ trơ kỹ thuật</h4>
          <p class="sdt1">028 2219 6666</p>
      </div>
      <div class="kythuat">
          <h4>Gợi ý</h4>
          <p class="sdt1">0938 98 7577</p>
      </div>
      <div class="kythuat">
          <h4>Gửi yêu cầu làm web</h4>
          <p class="sdt1">kd@halinl.vn</p>
      </div>
  </div>
</footer>
</body>

</html>